<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HAMSApplication"
        tools:targetApi="31">
        <activity
            android:name=".BookAppointmentPatientRowPage"
            android:exported="false" />
        <activity
            android:name=".BookAppointmentPatient"
            android:exported="false" />
        <activity
            android:name=".ComingAppointmentPatient"
            android:exported="false" />
        <activity
            android:name=".ComingAppointmentDoctor"
            android:exported="false" />
        <activity
            android:name=".PastAppointmentDoctor"
            android:exported="false" />
        <activity
            android:name=".PastAppointmentPatient"
            android:exported="false" />
        <activity
            android:name=".ShiftPage"
            android:exported="false" />
        <activity
            android:name=".Inbox"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreenPatient"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreenDoctor"
            android:exported="false" />
        <activity
            android:name=".welcomeScreenAdmin"
            android:exported="false" />
        <activity
            android:name=".createdAccount"
            android:exported="false" />
        <activity
            android:name=".doctorRegister"
            android:exported="false" />
        <activity
            android:name=".patientRegister"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>